.container{
	background-image: url(assets/images/purtywood/purty-wood.png);
	width: 1140px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	border: 2px solid red;
}

.center{
	width: 80%;
	margin-top: 100px;
	margin: auto;
	border: 2px solid green;
}

h3{
	text-align: center;
}

#startcontainer{
	border: 2px solid blue;
	margin: auto;
	text-align: center;
	width: 20%;
}

h4{
	padding-left: 30px;
	padding-right: 30px;
}


 







/*background-image: url(backpicture2.jpg);*/



























